body {
    color: white;
    background-color: #060606;
    background-image: url(obrazky/BCG.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;



}
.domu {
   padding: 0 300px;
   margin: 30% 0 25% 40%;
   font-weight: normal;
}
body {
  margin: 0;
  font-family: sans-serif;
}

/* === ZÁKLADNÍ STYL STRÁNKY === */
body {
  margin: 0;
  font-family: sans-serif;
}

/* === NAVIGACE === */
nav {
  background-color: transparent;
  color: white;
  padding: 10px;
  position: relative;
}

/* === HAMBURGER MENU (☰) === */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

/* === MENU ODKAZY === */
ul.menu {
  list-style: none;
  padding: 20px 30px;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Zarovnání doprava */
  gap: 20px;
}

ul.menu li {
  display: inline-block;
}

ul.menu li a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px 15px;
}

/* === RESPONSIVNÍ STYL PRO MOBILY === */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  ul.menu {
    display: none;
    flex-direction: column;
    align-items: flex-end; /* Zarovnání doprava */
    background-color: #444;
    margin-top: 10px;
    padding-right: 20px;
  }

  ul.menu.show {
    display: flex;
  }
}

 p {
    text-align: center;
 }
 .odkazy {
   margin-top: 150px;
   margin-left: 400px;
   position: absolute;
   width: 30px;
    margin-left: 0%;
 }
 .odkazy img {
   
    display: inline-block;
    width: 30px;
    align-items: right;
 }
 .odkazy li { 
   
   display: flex;
width: 22px;
height: 91px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
      display: flex;
      justify-content: flex-end; /* zarovnání doprava */
      align-items: center;       /* vertikální střed */
}

@media (max-width: 768px) {
  .odkazy {
 margin-top: 15px;
  }
 .odkazy img{
 width: 20px;
  }
 .odkazy li {
height: 50px;
  }
}


 h1 {
    text-align: left;
 }

@media (max-width: 768px) {
  h1, h2 {
display: none;
  }}

@media (max-width: 768px) {
  h3 {
padding-top: 25%;
  }}
 h3 {
    text-align: center;
    padding-bottom: 5%;
 }
 h4 {
    text-align: center;
    color: #5FDBCA;
 
 }
 @media (max-width: 768px) {
  h4 {
    margin: 20%;
font-size: large
  }}

 .foto-omne {
    width: 300px;
    float: left
 }
.omne-box{
   padding: 0 300px;
}
 .omne {
   display: block;
   padding: 8%;
 line-height: 1.8;
 }
 .omne img {
    width: 6%;

 }

 .portfolio {
   display: block;
    padding-top: 10%;
    clear: left;

 }

 .budubezdluhu {
    width: 490px;
 }

 .dovednosti {
    padding-top: 5%;
    align-items: center;
 }

 .dovednosti img {

    width: 70px;
 }

.ikony,
.ikony2,
.ikony3,
.ikony4{
   text-align: center;
}

 .jazyky img {
   width: 5px;
 }

 .kontakt {
    padding-top: 5%;
 }
 .kontakt a {
   color: bisque;
 }

 .foter {
   font-style: italic;
   display: block;
    padding: 30px;
    text-align: center;
    color: rgb(92, 92, 92);


 }