body {
    color: white;
    background-color: #060606;
    background-image: url(obrazky/BCG.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    padding: 0 300px;
}
.menu li {
    display: inline-block;
 }
 .menu {
    text-align: right;
    padding: 10px;
    margin: 20px;

 }
 .menu a {
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
 }
 p {
    text-align: center;
 }
/* .odkazy {
    margin-left: 0%;
 }
 .odkazy img {
    display: inline-block;
    width: 30px;
 }*/

 h1 {
    text-align: left;
 }
 .domu {
    margin: 30% 0 50% 0%;
 }
 h3,
 h4 {
    text-align: center;
    color: #5FDBCA;
 }

 .foto-omne {
    width: 300px;
    float: left
 }

 .omne {
    padding-top: 5%;
 }
 .omne img {
    width: 50px;

 }

 .portfolio {
    padding-top: 10%;
    clear: left;
 }

 .budubezdluhu {
    width: 1220px;
 }
 .dovednosti {
    padding-top: 5%;
 }
 .dovednosti img {
    width: 70px;
 }
 .kontakt {
    padding-top: 5%;
 }

 .foter {
    padding: 30px;
    text-align: center;
 }