body {
    color: white;
    background-color: #060606;
    background-image: url(obrazky/BCG.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;



}
.domu {
   padding: 0 300px;
   margin: 30% 0 25% 0%;
}
.menu li {
    display: inline-block;
 }
 .menu {
    text-align: right;
    padding: 10px;
    margin: 20px;

 }
 .menu a {
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
 }
 p {
    text-align: center;
 }
 .odkazy {
    margin-left: 0%;
 }
 /*.odkazy img {
    display: inline-block;
    width: 30px;
    align-items: right;
 }
 */

 h1 {
    text-align: left;
 }

 h3,
 h4 {
    text-align: center;
    color: #5FDBCA;
 }

 .foto-omne {
    width: 300px;
    float: left
 }
.omne-box{
   padding: 0 300px;
}
 .omne {
   display: block;

 }
 .omne img {
    width: 6%;

 }

 .portfolio {
   display: block;
    padding-top: 10%;
    clear: left;

 }

 .budubezdluhu {
    width: 490px;
 }

 .dovednosti {
    padding-top: 5%;
    align-items: center;
 }

 .dovednosti img {

    width: 70px;
 }

.ikony,
.ikony2,
.ikony3,
.ikony4{
   text-align: center;
}

 .jazyky img {
   width: 5px;
 }

 .kontakt {
    padding-top: 5%;
 }
 .kontakt a {
   color: bisque;
 }

 .foter {
   font-style: italic;
   display: block;
    padding: 30px;
    text-align: center;
    color: rgb(92, 92, 92);


 }